@media screen and (max-width: 1679px){

#full-screen .service-style{
    padding: 90px 65px!important;
}




@media screen and (max-width: 1599px){
    
    .fusion-standard-logo{
        width: 82px!important;
    }
    .About-us .down{
        font-size: 24px!important;
    }
    .fusion-header-v4 .fusion-header{
        padding-top: 20px!important;
        padding-bottom: 20px!important;
    }
    .fusion-sticky-header-wrapper{
        height: 187px!important;
    }
}




@media screen and (max-width: 1439px){
    #full-screen .service-style{
        padding:90px 25px !important;
    }
}





@media screen and (max-width: 1365px){
#full-screen .service-style{
    padding:50px 14px !important;
}
.fusion-layout-column.fusion_builder_column.fusion-builder-column-21.fusion_builder_column_1_5.\31 _5.fusion-flex-column.set-style{
    width: 18%!important;
}

}




@media screen and (max-width: 1279px){
#top-form .division{margin-top: -20px!important;}
}






@media screen and (max-width: 1023px){
    
}






@media screen and (max-width: 767px){


}






@media screen and (max-width: 735px){



}





@media screen and (max-width: 639px){
    


}







@media screen and (max-width: 479px){



}







@media screen and (max-width: 413px){




}





@media screen and (max-width: 359px){



}