@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,300&display=swap');
@import url("https://use.typekit.net/ovo3tuc.css");
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

html {
font-size: 100%;
}

*{
	margin: 0;
    padding: 0;
    outline:none;
}

.fusion-text {
    width:100%;
}


:root{
    --sweetSans: sweet-sans-pro, sans-serif;
    --didot: Didot;
    --CG: 'Cormorant Garamond', serif;
    --hel: Helvetica;
    --helThin: Helvetica Thin;
    
    /*====Colors====*/
    --primary-color:#645c54;
    --secondary-color:#434343;
    --darkGrey-color:#1e1e1e;
    --black-color:#000;
    --white-color:#fff;

    --body-bg: #faf7f4
    

    /*========Font-weight========*/
    --regular:400;
    --medium:500;
    --semibold:600;
    --bold:700;
    --extrabold:800;
    --black:900;

    /*=========headings==========*/
    --h1:60px;
    --h2:45px;
    --h3:36px;
    --h4:22px;
    --h5:18px;
}


.far{
    font-family:"Font Awesome 5 Pro"!important
}





body{
    line-height:1.7em;
    color:var(--primary-color);    	
}

p{
    margin-bottom:20px!important;
    clear:both;
}
 

.fusion-body .fusion-builder-row.fusion-row{
    max-width:100%!important;
}

.fusion-body .fusion-fullwidth{
    padding-left:0!important;
    padding-right:0!important;
    width:calc(100% - 70px)!important;
    margin:auto;
}
/* 
.fusion-body .shortContainer .fusion-builder-row.fusion-row,
.shortContainer .fusion-row{
    max-width:1440px!important;
}

.fusion-body .smallContainer .fusion-builder-row.fusion-row,
.smallContainer .fusion-row{
    max-width:1270px!important;
}
.fusion-body .tooSmallContainer .fusion-builder-row.fusion-row{
    max-width:1100px!important;
} */





body{    
    overflow: hidden;
    background:var(--body-bg-color)!important;
}

.section{
    padding-top:80px!important;
    padding-bottom:80px!important;
}

.fusion-body .section.pt-0{
    padding-top:0!important;
}
.fusion-body .section.pb-0{
    padding-bottom:0!important;
}

.fusion-body .fusion-layout-column{
    margin:0!important
}


.entryContent h1{
    font-size:var(--h1)!important;    
}

.entryContent.sweetSans p{
    font-family:var(--sweetSans);
    letter-spacing: 1px;
    text-transform: uppercase;
}
.entryContent.sweetSans h1,
.entryContent.sweetSans h2,
.entryContent.sweetSans h1{
    
}

.section{
    padding-bottom:70px!important;
    padding-top:70px!important;
}

.section.pb-0{
    padding-bottom:0!important;
}

.section.pt-0{
    padding-top:0!important;
}


#bannerMobile{display:none;}

.bttn.fusion-button.btnOutline:hover .fusion-button-text{color: #a9674a !important;}
.bttn.fusion-button.btnOutline:hover{background: #fff;}

/*===========button===========*/
.bttn.fusion-button{
    background:#decfab;
    border-radius:0!important;
    font-family: 'CircularStd';   
    color:#fff;
    font-size:18px!important;
    text-transform: capitalize;
    padding:13px 40px!important;
    line-height:normal!important;
    padding-bottom:15px!important;
}
.bttn.fusion-button .fusion-button-text{
    font-weight:500;
}
.bttn.fusion-button:hover{
    background:transparent;
    color:#a9674a!important;
    box-shadow:inset 0px 0px 0px 2px #a9674a !important;
}
.bttn.fusion-button:hover .fusion-button-text{
    color:#a9674a;
}


/*h1{font-size: 53px!important;
color: #e0dec5!important;
line-height: 1em!important;
font-weight: normal!important;
font-family: "ChelthmITC Bk BT"!important;
letter-spacing: -1px!important;}

h2{font-size: 35px!important;
color: #e0dec5!important;
line-height: 1em!important;
font-weight: normal!important;
font-family: "ChelthmITC Bk BT"!important;
letter-spacing: -1px!important;}*/

.bttn.fusion-button.primary{
    background:#e99876;
    border-radius:0!important;
    font-family: 'ChelthmITC Bk BT';   
    color:#fff;
    font-size:14px!important;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding:17px 40px!important;
    line-height:normal!important
}
.bttn.fusion-button.primary .fusion-button-text{
    font-weight:500;
}
.bttn.fusion-button.primary:hover{
    background:transparent;
    color:#e99876!important;
    box-shadow:inset 0px 0px 0px 2px #e99876 !important;
}
.bttn.fusion-button.primary:hover .fusion-button-text{
    color:#e99876;
}



.bttn.fusion-button.btnOutline{
    box-shadow: inset 0px 0px 0px 2px #dcc094 !important;
background: #dcc094;
color: #fff !important;
}
.bttn.fusion-button.btnOutline .fusion-button-text{
    color:#a9674a;
}
.bttn.fusion-button.btnOutline:hover{    
    background:#ffffff;   
}
.bttn.fusion-button.btnOutline:hover .fusion-button-text{
    color:#fff!important;
}


.bttn.fusion-button.btnOutline.secondary{
    box-shadow:inset 0px 0px 0px 2px #222 !important;
    background:transparent;
}
.bttn.fusion-button.btnOutline.secondary .fusion-button-text{
    color:#222;
}
.bttn.fusion-button.btnOutline.secondary:hover{    
    background:#222;   
}
.bttn.fusion-button.btnOutline.secondary:hover .fusion-button-text{
    color:#fff!important;
}



.bttn.fusion-button.btnOutline.white{
    box-shadow:inset 0px 0px 0px 2px #fff !important;
    background:transparent;
}
.bttn.fusion-button.btnOutline.white .fusion-button-text{
    color:#fff;
}
.bttn.fusion-button.btnOutline.white:hover{
    background:#fff;       
}
.bttn.fusion-button.btnOutline:hover .fusion-button-text{
    color:#a9674a!important;
    background: transparent;
}


/*============= New Design Button =============*/
.btnArea{
    display:block;
    margin-top:30px;
}

.btn,
.btn.button-flat{
    display:inline-block;    	
    color:var(--primary-color)!important;
    font-size:13px;
    padding:16px 40px!important;    
    letter-spacing: 2px;    
    text-transform: uppercase;
    text-decoration: none;
    border-radius:0!important;
    font-family:var(--sweetSans);
    border:1px solid var(--primary-color);
}
.btn span{
    color:var(--white)!important;

}
.btn:hover{
    background:var(--second-pattern-color)!important;    
}

.btn.btn-secondary{
    background:var(--third-pattern-color)!important
}
.btn.btn-secondary:hover{
    background:var(--second-pattern-color)!important
}


.btn.white,
.btn.button-flat.white{
    border-color:var(--white-color);
    color:var(--white-color)!important;
}



.anotherBtn.fusion-button{
    border:none;
    padding: 14px 50px !important;
    box-shadow: none !important;    
    font-size: 13px !important;
    background:none!important;
    border-radius:0!important; 
    font-weight:var(--semibold);
    background:var(--light-bg-color)!important;
    font-family:var(--mont);
}
.anotherBtn.fusion-button span{
/*     color:#cbd8d1; */
       color:var(--primary-color);  
       text-transform:uppercase;     
}

.anotherBtn.fusion-button.large{
    border: 2px solid #a5aab0;
    padding: 16px 80px !important;
    box-shadow: none !important;
    font-family: "Circular Std Medium";
    font-size: 19px !important;
    background:none!important;
    border-radius:0!important; 
    font-weight:normal;
}

.anotherBtn.fusion-button:hover{
    background:var(--third-pattern-color)!important;
}
.anotherBtn.fusion-button:hover span{
    color:var(--light-text-color);
}

#content{
    margin-top:90px!important;
    margin-bottom:25px!important;
}


/*===============Header==============*/
.mobTopbar{
    display:none;
}


.siteHeader{
    position: absolute;
    width:100%;
    left:50%;
    top:0;
    z-index: 999;
    border-bottom:1px solid rgba(255, 248, 222, 0.1);
    padding-left:35px;
    padding-right:35px;
    display:flex;     
    justify-content: space-between;        
    flex-wrap: wrap;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;  
    transform: translateX(-50%);  
}

body.logged-in .siteHeader{
    top:32px;
}
.siteHeader.sticky{
    background:var(--white-color);
    /* box-shadow:0px 0px 10px rgba(0,0,0,0.15); */
    border:none;
}

.siteHeader .siteLogo{
    float:left;
}
.siteHeader .siteLogo img{
    width:190px;
}

.siteHeader .leftSide{
    display:flex;
    flex-wrap: wrap;
}

.siteHeader .mobile_toggle{
    width:15px;
    position: absolute;  
    top:50%;
    transform:translateY(-50%);
    left:0;
    cursor: pointer;
    left:35px;
}
.siteHeader .mobile_toggle .bar{
    float:left;
    width:100%;
    height:2px;
    background:var(--primary-color);
    margin:1px 0;
}
.siteHeader .siteLogo,
.siteHeader .rightSide{
    display:flex;
    align-items: center;
}
 

.siteHeader .navBar{
    float:left;
    margin-left:60px;    
}
.siteHeader .fusion-row{
    
    background:transparent;
   /* border-bottom:1px solid #eee*/
}
.siteHeader .navBar ul{
    list-style:none;
    padding:0;
    margin:0;    
}
.siteHeader .navBar ul li.menu-item{
    float:left;
    margin:0 30px;
    position:relative;
    
}
.siteHeader .navBar ul li.menu-item:first-child{
    margin-left:0;
}
.siteHeader .navBar ul li.menu-item:last-child{
    margin-right:0;
}
.siteHeader .navBar ul li.menu-item a.menuLink{
    display:block;
    color:var(--primary-color);
    font-size:12px;
    font-family:var(--sweetSans);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding:35px 5px;
}

.siteHeader .navBar ul li.menu-item a.menuLink::after{
    content:'';
    position: absolute;
    left:0;
    bottom:0;
    height:3px;
    width:100%;
    background:var(--light-bg-color);
    display:none;
}
.siteHeader .navBar ul li.menu-item.active a{
    font-weight:700;
}

.siteHeader .navBar ul li.menu-item.dropdown-menu .MobileSubMenu{
    display:none;
}
.siteHeader .navBar ul li.menu-item.dropdown-menu.dropdown-location-menu .MobileSubMenu{
    display:block;
}

.siteHeader .navBar ul li i.fas{display:none;}
.siteHeader .navBar ul li ul.subMenu {
    position: absolute;
    left: 50%;
    border-radius: 0;
    margin:0;
    padding-top:10px;    
    width: 140px;
    text-align: center;
    transform: translateX(-50%);
    overflow: hidden;
    opacity: 0;   
    pointer-events: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.siteHeader .navBar ul li:hover ul.subMenu{
    height:auto

}
/* .siteHeader .navBar ul li ul.subMenu::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    position: absolute;
    border-right: 12px solid transparent;
    border-bottom: 14px solid #fff;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}
.siteHeader .navBar ul li ul.subMenu li:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}
.siteHeader .navBar ul li ul.subMenu li:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
} */
.siteHeader .navBar ul li ul.subMenu li{
    margin:0;
    width:100%;
    border-bottom:1px solid #eee
}
.siteHeader .navBar ul li ul.subMenu li:last-child{
    border-bottom:none;
}
.siteHeader .navBar ul li ul.subMenu li a{
    text-align: left;
    font-size:14px;
    float:left;
    width:100%;
    padding:3px 10px; 
    background:#fafafa;
    color:#66746c;
}
.siteHeader .navBar ul li ul.subMenu li a span {
    font-size: 13px;
    display: block;
    position: relative;
    top: -5px;
    line-height: normal;
}
.siteHeader .navBar ul li ul.subMenu li a:hover{
    background:#fff;
    color:#3e4d44;
}
.siteHeader .bookNow-btn{
    float:right;
    margin-right:-55px;
}

.siteHeader .bookNow-btn span.fusion-button-text{
	color:#4c422a!important
}


    
.rightSide.contactDetails{    
    float: right;
    margin-right:45px;
}

.socialIcons {
    float: left;    
    margin-top:11px;
}

.rightSide.contactDetails .socialIcons ul{padding: 0px; margin: 0px;list-style:none;}
.rightSide.contactDetails .socialIcons ul li{float:left;margin-right:20px;}
.rightSide.contactDetails .socialIcons ul li a{display:block;}
.rightSide.contactDetails .socialIcons ul li a img{max-height: 20px;display:block;width:20px;}
.rightSide.contactDetails .socialIcons ul li:last-child a img{max-height:19px;}
.rightSide.contactDetails .phoneNumber{float:left;margin-left:10px;font-family:var(--sweetSans)}
.rightSide.contactDetails .phoneNumber h4{
    float: left;    
    margin-bottom: 0px;	
    margin-top:-4px;
    font-size:13px;        
    font-weight:normal;	
    letter-spacing: 2px;
}
.rightSide.contactDetails .phoneNumber h4 i{font-size:16px;position: relative;top:2px;}
.rightSide.contactDetails .phoneNumber h4 a img{margin-right:5px;margin-top:3px;}
.rightSide.contactDetails .phoneNumber h4 a,
.rightSide.contactDetails .phoneNumber h4 i{color: var(--light-text-color); margin-right: 5px; letter-spacing: 1px;letter-spacing: 1px; }
.siteHeader .bookNow-btn .bookNow-btn{
    margin-right:-55px;    
}
.rightSide.contactDetails .phoneNumber h4 a{
    color:var(--light-bg-color);
}
.siteHeader .bookNow-btn .btn{
    height:105px;
    display:flex;
    align-items: center;
    padding-left:70px;
    padding-right:70px;
    font-size:13px;
    background:var(--light-text-color)!important;
    position: relative;    
}
.siteHeader .bookNow-btn .btn span{
    color:var(--primary-color)!important;
}
/*=============================New Header*=============================*/

.has_child .MobileSubMenu{
    position: absolute;
    width: 230px;
    background: var(--white);
    padding: 0 20px;
    transform: translateX(-50%);
    left: 50%;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.10);
    top: 95px;    
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    pointer-events: none;
} 
.has_child .MobileSubMenu .singleSubLoc{padding-top:20px;padding-bottom:20px;overflow: hidden;}
.has_child.dropdown-location-menu .MobileSubMenu{width: 350px}
.siteHeader .navBar ul li.has_child:hover .MobileSubMenu{
    top:104px;
    pointer-events: initial;
    opacity: 1;
}
/*.singleSubLoc{display: inline-block;}*/
.locTitle {margin: 0;font-family:var(--optimal);font-size: 20px;margin-bottom: 5px !important;font-weight:normal}
.has_child.dropdown-location-menu .MobileSubMenu .singleSubLoc { float:left;width: 50%;padding-right:10px;
}
.MobileSubMenu .singleSubLoc ul li{
    float:left;
    width:100%;
    margin:3px 0;
}
.MobileSubMenu .singleSubLoc ul li a{color: var(--third-pattern-color)!important; font-size: 13px!important;font-weight:var(--medium)}
.MobileSubMenu .singleSubLoc ul li a:hover{color:var(--primary-color)!important};
.has_child .MobileSubMenu .singleSubLoc ul li{margin-right: 0px!important;padding-bottom: 0px; margin: 3px 0px;}
.MobileSubMenu .singleSubLoc ul li a small {
    font-size: 10px;
    line-height: normal;
    font-weight: normal;
    position: relative;
    top: -3px;
    opacity: 0.7;
    display:block;
  }
/*mobile on 

.cus_menu ul{margin-top: 0px!important;}
.cus_menu ul li ul.submenus li{list-style: none;}

*/

.MobileSubMenu::before {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    left: 50%;
    transform: translateX(-50%);
    top: -10px;
    border-bottom: 10px solid #ffffff;        

}

.sideBar-socialLinks{
    position: absolute;
    left:95px;
    height:100vh;
    display:flex;
    align-items: center;
    z-index: 99;
}
.sideBar-socialLinks ul{
    list-style:none;
    padding:0;
    margin:0;
}
.sideBar-socialLinks ul li{
    display:block;
    margin:10px 0   
}
.sideBar-socialLinks ul li a img{
    transform:scale(0.8);
}

.scrollDown{
    float:left;
    width:100%;
}
.scrollDown img{
    max-width:17px;
}
.scrollDown::before{
    position: relative;
    content:'';
    width:2px;
    height:70px;
    background:var(--light-text-color);
    display:block;
    margin-top:10px;
    margin-left:11px;
    margin-bottom:10px;
}
.scrollDown p{
    color:var(--light-text-color);
    font-size:13px;
    text-transform: uppercase;
    letter-spacing: 5px;
    writing-mode: vertical-lr;   
    transform:rotate(180deg)
}
.scrollDown i{
    color:var(--light-text-color);
    font-size:16px;
}





/**/
#MobileMenu{display: none;}


.heroBanner .bannerContent #button-for-mobile{display: none;}

.homeContent.mobile{display: none;}
.LocationAddress.mobile.for{display: none;}

#text-4{display: none;}





/**/
/**/
.page-id-744

.page-id-744 .siteHeader .siteLogo{background:url('../Images/logo-light.svg') no-repeat;background-size:cover;}
.page-id-744 .siteHeader .siteLogo img{width: 100%;}
.page-id-744 .siteHeader .sameMenu ul li a{color:#fff;}


/*=============== wrapper===========*/
#content{margin-top:0;}
.page-id-744 #content{margin-top:0;}
/**/
/*===========Home Page==============*/

.fusion-body .fusion-layout-column.allPages{
    width:calc(100% - 400px)!important
}


.fusion-body .fusion-layout-column.mainLogoArea{
    width:400px!important
}


.allPages .fusion-column-wrapper .fusion-builder-row{
    margin-left:calc(-4% / 4 )!important;
    margin-right:calc(-4% / 4 )!important;
}



.allPages .snglPage.fusion-flex-column .fusion-column-wrapper{
    margin:5px;
}


.fusion-body .allPages .snglPage{
    width:calc(50% - 5px)!important;

}
.allPages .snglPage{
    position: relative;
    height:calc(48vh - 60px);    
}


.allPages .snglPage.homeServices {
    margin-right:5px!important;
    margin-bottom:5px!important;
}
.allPages .snglPage.homeMembership {
    margin-left:5px!important;
    margin-bottom:5px!important;
}

.allPages .snglPage.homeSpaces {
    margin-right:5px!important;
    margin-top:5px!important;
}
.allPages .snglPage.homeGiftCards  {
    margin-left:5px!important;
    margin-top:5px!important;
}


.allPages .snglPage .fusion-title{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    z-index: 999;
    text-transform: uppercase;        
}
.allPages .snglPage.homeGiftCards .fusion-title{
    width:100%;
    line-height:40px!important;
}
.allPages .snglPage.homeGiftCards .fusion-title .title-heading-left{
    text-align: center;    
}
.allPages .snglPage .fusion-title .title-heading-left strong{
    font-size:27px;
}

.allPages .snglPage .fusion-column-inner-bg{
    margin:0!important;
}

.allPages .snglPage .fusion-title .title-heading-left{
    font-size:65px!important;
    color:var(--white-color);
    line-height:45px!important
}

.mainLogoArea .fusion-text{
    text-align: center;
}

.mainLogoArea .fusion-text h1{
    font-size:55px!important;
    line-height:25px!important;
    margin-top:0;

}

.mainLogoArea .fusion-text .btnArea{
    margin-top:40px;
}

.mainLogoArea .fusion-text h1 a{
    color:var(--black-color);    
}
.mainLogoArea .fusion-text h1 strong{
    font-family:var(--CG);
    font-size:23px;
    font-weight:normal;
    letter-spacing: 2px;
    font-style:italic;   
}

.allPages .bottomArrow{
    margin-top:20px!important;    
}





/* Bobby's Bio */

.sameHeight {
    height:100vh;
    margin-bottom:35px!important;
}

.fusion-body .ownerBio .fusion-layout-column{
    margin-right:100px!important;
    margin-top:80px!important;
}
.fusion-body .ownerBio .fusion-text h3{
    line-height:40px!important;
    text-transform: uppercase;
    letter-spacing: -3px!important;
}

.fusion-body .ownerBio .fusion-text h6{
    font-family:var(--sweetSans);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size:27px;
    margin-bottom:0;
    margin-top:40px;
}

.fusion-body .ownerBio .fusion-text p{
    font-family:var(--sweetSans);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:13px;;
}

.commonSection .fusion-text{
    margin-bottom:40px;
}
.commonSection .fusion-text h6{
    font-family:var(--CG);
    font-size:18px;
    color:var(--white-color);
    margin-bottom:10px;
    letter-spacing: 0.5px;;
}

.commonSection .fusion-text h2{
    font-size:44px;
    color:var(--white-color);
    letter-spacing: -1px;
    margin-bottom:30px!important;
    text-transform: uppercase;
    line-height:40px!important;
}

.commonSection .fusion-text p:last-child{
    margin-bottom:0!important
}
.commonSection .fusion-text p,
.commonSection .fusion-text p a{
    color:var(--white-color);
}

/* ============ Footer ============ */
.site-footer{
    max-width:1280px;
    margin:auto;
    clear:both;
    padding-bottom:150px;
}
.site-footer .footer-nav{
    float:left;
    width:100%;
    text-align: center;
    margin-top:50px;
    margin-bottom:20px;
}

.site-footer .footer-nav ul{
    list-style:none;
    font-size:0;
}

.site-footer .footer-nav ul li{
    display:inline-block;
    font-family:var(--sweetSans);
    font-size:11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color:var(--darkGrey-color);
    letter-spacing: 2px;
    margin:0 25px;
}

.site-footer .footer-nav ul li a{
    color:var(--darkGrey-color);
}

.footerMenu{
    display:flex
}
.footerMenu .snglLocation{
    flex:1 1 auto;
    height:auto;
    margin-bottom:0!important;
}

.footerMenu .snglLocation h4{
    text-transform: uppercase;
    font-size:25px;
    font-family:var(--didot);
    font-weight:normal;
    color:var(--darkGrey-color);
    margin-bottom:25px!important;
}

.footerMenu .snglLocation .conDetails p{
    font-family:var(--sweetSans);
    font-size:11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height:28px;
    color:var(--darkGrey-color)
}

.copyright{
    display:block;
    margin-top:40px;
    text-align: center;
    font-family:var(--sweetSans);
    font-size:11px;
    letter-spacing: 1px;
    text-transform: uppercase;    
    color:var(--darkGrey-color)
}


/* =========Internal Pages========== */

.fusion-body .headerArea .fusion-layout-column.mainLogoArea{
    width:100%!important;
}

.fusion-body .headerArea .mainLogoArea .fusion-text h1{
    margin-bottom:25px;
}

.fusion-body .headerArea .mainLogoArea .fusion-text p{
    margin-bottom:0!important;
}


.snglLocation {
    height:100vh;
    margin-bottom:60px!important;
}

.gap .fusion-row{
    padding-left:30px;
    padding-right:30px;
}

.snglLocation .locDetails .fusion-text h1{
    margin-top:0px!important;
    line-height:50px!important;
}
.snglLocation .locDetails .fusion-text h4{
    font-family:var(--CG);
    font-weight: var(--regular);
    font-size:26px;
    margin:0;
}

.snglLocation .locDetails .fusion-text p{
    color:#2a2a2a;
    font-size:14px;
    line-height:2em;
}
.snglLocation .locDetails .fusion-text .conDetails{
    margin-top:45px;
}
.snglLocation .locDetails .fusion-text .conDetails p{
    font-family:var(--sweetSans)!important;
    letter-spacing: 2px;
    color:#2a2a2a;;    
    font-size:12px;
    text-transform: uppercase;

}

/* ======= Services ======== */


.fusion-body .allPages{
    margin-bottom:50px!important;
}

.fusion-body .allPages .snglPage{
    height: calc(50vh - 60px)
}

.fusion-body .allPages .snglPage.topMargin-left{
    margin-right:5px!important;
    margin-bottom:5px!important;
}

.fusion-body .allPages .snglPage.topMargin-right{
    margin-left:5px!important;
    margin-bottom:5px!important;
}

.fusion-body .allPages .snglPage.bottomMargin-left{
    margin-right:5px!important;
    margin-top:5px!important;
}

.fusion-body .allPages .snglPage.bottomMargin-right{
    margin-left:5px!important;
    margin-top:5px!important;
}

.fusion-body .allPages .snglPage.centMarTopBot-left{
    margin-right:5px!important;
    margin-bottom:5px!important;
    margin-top:5px!important;
}

.fusion-body .allPages .snglPage.centMarTopBot-right{
    margin-left:5px!important;
    margin-bottom:5px!important;
    margin-top:5px!important;
}

.allServices .allPages .snglPage .fusion-text.servTitle{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);    
}

.allServices .allPages .snglPage .fusion-text.serDetails{
    position: absolute;
    left:50%;    
    transform:translateX(-50%);    
    bottom:0px;
}

.allServices .allPages .snglPage .fusion-text.serDetails p{
    color:#fff;
    text-align: center;
}

.allServices .allPages .snglPage .fusion-text.servTitle h1{
    color:var(--white-color);
    text-align: center;
    line-height:30px!important;
    font-size:65px!important;
    text-transform:uppercase;
}

.allServices .mainLogoArea{
    margin-top:350px!important;
}

.allServices .allPages .snglPage .fusion-text.servTitle h1 strong{
    font-weight:normal;
    font-size:28px;
}

/* ===========Gift Card Page========== */


.fusion-body .fusion-fullwidth.giftCardPage {
    width: calc(100% - 200px) !important;
    margin-bottom:100px!important;
}

.giftCardPage .locName .fusion-text h1{
    color:var(--white-color);
    font-size:100px;
    line-height:85px!important;
    margin-top:0;

}
.giftCardPage .locName .fusion-text h4{
    font-size:50px;
    color:var(--white-color);
    font-family:var(--CG);
    margin-bottom:-5px;
}

.fusion-body .giftCardPage .locSelection{
    width:430px!important;    
    margin-right:100px!important;
    margin-bottom:50px!important;
}

.fusion-body .giftCardPage .locSelection .fusion-text{
    padding-top:80px;
    padding-bottom:80px;
}

.fusion-body .giftCardPage .locSelection .fusion-text:first-child{
    border-bottom:1px solid var(--white-color)
}

.fusion-body .giftCardPage .locSelection .locMenu label.label{
    font-size:20px;
    color:var(--white-color);
    text-transform: uppercase;
    font-family:var(--sweetSans);
    margin-bottom:10px;
    display:block;

}
.fusion-body .giftCardPage .locSelection .locMenu br{
    display:none;
}
.fusion-body .giftCardPage .locSelection .locMenu select{
    width:100%;
    background:url('../Images/selectArrow.jpg')no-repeat #faf7f4;
    height:60px;
    border-radius:15px;
    display:block;
    font-size:22px;
    color:#1f1f1f;
    padding:15px;
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   font-family:var(--helThin);   
   background-size:27px 14px;
   background-position: calc(100% - 25px) center;
   margin-bottom:40px;  
}
.fusion-body .giftCardPage .locSelection .locMenu select option{
    font-family:var(--sweetSans);    
}

.fusion-body .giftCardPage .locSelection h2{
    font-size:55px;
    text-transform: uppercase;
    line-height: 55px!important;
    font-family:var(--sweetSans);
    letter-spacing: -1px;
    color:var(--white-color);
    margin-bottom:15px;
}
.fusion-body .giftCardPage .locSelection p{
    color:var(--white-color);
    font-size: 14px;;
}

.fusion-body .giftCardPage.Mobile{
    display:none!important;
}

#membership {
    height:100vh!important;
}

.giftCardPage.membership .locName .fusion-text h4{
    font-size:25px!important
}

.giftCardPage.membership .locName .fusion-text h1{
    font-size:55px!important;
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height:55px!important;;
}

.fusion-body .giftCardPage.membership .locName{
    width:600px!important;
    align-self: unset;
}
.fusion-body .giftCardPage.membership .fusion-row{
    align-items: center;
    justify-content: right;
}
.fusion-body .giftCardPage.membership .sngFeature{
    display:block;
    color:var(--white-color);
    font-family:var(--sweetSans);
    margin-bottom:40px;
}

.fusion-body .giftCardPage.membership .sngFeature:last-child{
    margin-bottom:0;
}

.fusion-body .giftCardPage.membership .sngFeature h5{
    color:var(--white-color);
    margin:0;
    font-family:var(--sweetSans);
    letter-spacing: 2px;
    font-size:20px;
    text-transform: uppercase;
}

.fusion-body .giftCardPage.membership .sngFeature p{
    text-transform: uppercase;
    font-size:10px;
    letter-spacing: 2px;;
}