@media screen and (max-width:1919px){
    .fusion-body .ownerBio .fusion-layout-column {
        margin-right: 20px !important;
        margin-top: 50px !important;
        width: 700px !important;
    }

    .allServices .mainLogoArea{
        margin-top:240px!important;
    }

    .fusion-body .snglLocation .locationImg.fusion-layout-column{
        width:70%!important;
    }
    .fusion-body .snglLocation .locDetails.fusion-layout-column{
        width:30%!important;
    }
    .snglLocation .locDetails .fusion-text h1{
        line-height:40px!important;
        font-size:50px;
    }
    .snglLocation .locDetails .fusion-text p{
        font-size:13px;
        line-height:1.5em;
    }

    .fusion-body .fusion-fullwidth.giftCardPage{
        margin-bottom:60px!important;
    }
    .fusion-body .fusion-fullwidth.giftCardPage{
        width:calc(100% - 100px)!important;
    }
    .fusion-body .headerArea .fusion-layout-column.mainLogoArea{
        margin-top:0!important
    }
}




@media screen and (max-width:1599px){


    .section{
        padding-top:40px!important;
        padding-bottom:40px!important;
    }
    .fusion-body .fusion-layout-column.mainLogoArea{
        width:300px!important
    }

    .fusion-body #heroArea .fusion-row,
    .fusion-body #allServices .fusion-row{
        justify-content: space-between;
    }
    .fusion-body .fusion-layout-column.allPages{
        width:calc(100% - 330px) !important
    }
    .mainLogoArea .fusion-text h1{
        font-size:50px!important;
        line-height:20px!important;
        margin-bottom:20px;
    }
    .mainLogoArea .fusion-text h1 strong{
        font-size:20px;
    }
    .entryContent.sweetSans p{
        font-size:10px;
    }
    .mainLogoArea .fusion-text .btnArea{
        margin-top:20px;
    }
    .btn, .btn.button-flat{
        padding:12px 30px!important;
        font-size:12px;
    }
    .allPages .snglPage .fusion-title .title-heading-left{
        font-size:55px!important;
        line-height:35px!important;;
    }

    .siteHeader .navBar ul li.menu-item{
        margin:0 10px;
    }
    .siteHeader .navBar ul li.menu-item a.menuLink{
        letter-spacing: 1px;;
    }
    .rightSide.contactDetails{
        margin-right:0;
    }
  /*   .fusion-body .fusion-layout-column.mainLogoArea{
        width:100%!important;
        margin-top:30px!important;
        margin-bottom:50px!important;
    }
	
	
    .fusion-body .fusion-layout-column.allPages{
        width:100%!important;
    }
*/
    .allPages .fusion-column-wrapper .fusion-builder-row{
        margin-left: calc(-4% / 2 ) !important; 
    }

    .fusion-body .headerArea .fusion-layout-column.mainLogoArea{
        margin-bottom:0!important;
    }

    .snglLocation{
        height:auto;
    }


    #membership{
        height:auto!important;;
        padding-top:90px;
        padding-bottom:90px;
    }

    .fusion-body .ownerBio .fusion-layout-column {
        margin-right: 20px !important;        
        width: 580px !important;
    }
    .fusion-body .ownerBio .fusion-text h6{
        font-size:22px;
        margin-top:30px;
    }
    .fusion-body .ownerBio .fusion-text h3{
        font-size:29px!important;;
        line-height:35px!important;;
    }

    .allServices .allPages .snglPage .fusion-text.servTitle h1{
        font-size:45px!important;
    }

}


@media screen and (max-width:1439px){
    
	.fusion-body .ownerBio .fusion-layout-column{
        width:600px!important;;
    }
    .fusion-body .ownerBio .fusion-text h3{
        line-height:30px!important;
    }

    .fusion-body .ownerBio .fusion-text h6{
        font-size:20px
    }
    .fusion-body .ownerBio .fusion-text p{
        font-size:11px;
    }

    .allPages .fusion-column-wrapper .fusion-builder-row{
        margin-left: calc(-4% / 2 ) !important;
    }
    .fusion-body .allPages .snglPage.topMargin-left,
    .fusion-body .allPages .snglPage.topMargin-right,
    .fusion-body .allPages .snglPage.bottomMargin-left,
    .fusion-body .allPages .snglPage.topMargin-right,
    .fusion-body .allPages .snglPage.centMarTopBot-left,
    .fusion-body .allPages .snglPage.centMarTopBot-right,
    .fusion-body .allPages .snglPage.bottomMargin-right{
        margin:0!important;
        margin-bottom:10px!important
    }

    .fusion-body .fusion-layout-column.allPages .fusion-column-wrapper{
        margin-left:0!important;
        margin-right:0!important;
    }
    

    .fusion-body .fusion-layout-column.allPages{
        width:calc(100% - 400px) !important;
    }

    .fusion-body .fusion-layout-column.mainLogoArea{
        width:350px!important;
    }

    .fusion-body #heroArea .fusion-row{
        justify-content: space-between!important;;
    }
    .allPages .snglPage .fusion-title .title-heading-left{
        font-size:45px!important;
    }
}

@media screen and (max-width:1365px){
    .fusion-body .snglLocation .locDetails.fusion-layout-column {
        width: 35% !important;
    }
    .fusion-body .snglLocation .locationImg.fusion-layout-column {
        width: 65% !important;
    }
    .gap.snglLocation .fusion-row {
        padding-left: 0;
        padding-right: 0;
    }
    .fusion-body .giftCardPage .locSelection h2{
        font-size:45px;
        line-height:45px!important;
    }
    .fusion-body .giftCardPage .locSelection{
        margin-right:0!important;
        margin-top:30px!important;
    }
    .fusion-body .giftCardPage .locSelection .fusion-text {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    .giftCardPage .locName .fusion-text h1{
        font-size:80px;
        line-height:65px!important;
    }
    .giftCardPage .locName .fusion-text h4{
        font-size:35px;
    }
    .site-footer{
        max-width:1170px;
    }

    .fusion-body .giftCardPage.Mobile{
        display:block!important;
    }
    .fusion-body .giftCardPage.desktop{
        display:none!important;
    }
    .fusion-body .giftCardPage .locSelection{
        margin-top:450px!important;;
    }

    .fusion-body .giftCardPage .locName,
    .fusion-body .giftCardPage .locSelection{
        width:100%!important;        
    }

    .fusion-body .giftCardPage .locSelection .fusion-column-wrapper{
        margin-left:35px!important;
        margin-right:35px!important;
    }

    .fusion-body .giftCardPage .locMenu{
        margin-left:-35px;
        margin-right:-35px;
        padding:35px;
        padding-bottom:40px;
        background:rgba(0,0,0,0.4);
        margin-bottom:40px;
    }

    .fusion-body .giftCardPage .locMenu select{
        margin-bottom:0;
    }


    .fusion-body .giftCardPage.gap .fusion-row{
        padding:0!important;
        margin:0!important;
    }
    .giftCardPage .locName .fusion-text{
        margin-top:50px;
    }
    .giftCardPage .locName .fusion-text h1{
        font-size:55px!important;
        line-height:45px!important;
    }
    .giftCardPage .locName .fusion-text h1 br{
        display:none;
    }
    .giftCardPage .locName .fusion-text h4{
        font-size:25px!important;;
    }

    .giftCardPage .locName .fusion-text{
        text-align: center;
    }
    

    .fusion-body .giftCardPage.membership .locName{
        width:100%!important;
    }
    .giftCardPage .locName .fusion-text{
        margin-top:450px;
    }
    .giftCardPage.membership .locName .fusion-text h4{
        margin-top:0;
    }
    .giftCardPage.membership .locName .fusion-text{
        text-align: left;
    }
    
    
}


@media screen and (max-width:1279px){
    
    .allPages .fusion-column-wrapper .fusion-builder-row{
        margin-left: calc(-4% / 2 ) !important;
        margin-right: calc(-4% / 1) !important;
    }
  /*Edited on Michael request */  
	.fusion-body .fusion-layout-column.mainLogoArea{
        width:100%!important;
        margin-top:50px!important;
        margin-bottom:40px!important;
    }
	
	
    .fusion-body .fusion-layout-column.allPages{
        width:100%!important;
    }
  /*Edited on Michael request ends */  

    .fusion-body .ownerBio .fusion-text h3{
        font-size:25px;
        line-height:28px!important;
        letter-spacing: -1px!important;;
    }
    .fusion-body .ownerBio .fusion-layout-column{
        width:420px!important;
        margin-top:30px!important;
        width:420px!important;
    }
    .commonSection .fusion-text{
        max-width: 80%;
        margin-left:auto;
        margin-right:auto;
    }
    .site-footer{
        max-width:950px;
    }
    .footerMenu .snglLocation{
        padding:0 15px
    }

    .fusion-body .snglLocation .locDetails.fusion-layout-column {
        width: 65% !important;
    }
    .fusion-body .snglLocation .locationImg.fusion-layout-column {
        width: 35% !important;
    }
    .snglLocation .locDetails .fusion-text h1{
        margin-bottom:20px;
    }
    .snglLocation .locDetails .fusion-text h1 br{
        display: none;
    }
    .snglLocation .locDetails .fusion-text .conDetails{
        margin-top:25px;
    }

    #allServices .mainLogoArea .fusion-text .btnArea{
        display:none;
    }
    #allServices .mainLogoArea .fusion-text p{
        margin-bottom:0!important;
    }
    .siteHeader .mobile_toggle{
        display:block
    }
}




@media screen and (max-width:1023px){

    #content{
        margin-top:60px!important
    }

    .siteHeader{
        height:60px;
        position: fixed;
        background:#fff;
        padding-left:25px;
        padding-right:25px;
    }

    .rightSide.contactDetails{
        width:100%;
    }
    .siteHeader .navBar{
        margin:0;
    }
    .rightSide.contactDetails .phoneNumber{
        float:none;
        margin:auto;
    }
    .siteHeader .mobile_toggle{
        width:25px;
    }
    .siteHeader .mobile_toggle .bar{
        margin:3px 0;
        height:1px;
    }

    .siteHeader .navBar ul{  
        display:none;      
        position: fixed;
        width: 100%;
        background: #f7f7f7;
        top: 60px;
        left:0;
    }
    .siteHeader .navBar ul li.menu-item{
        width:100%;
        margin:0;
    }
    .siteHeader .navBar ul li.menu-item a.menuLink{
        padding:10px 25px;
    }
    .siteHeader .mobile_toggle{
        left:25px;
    }

    .fusion-body .fusion-fullwidth{
        width:100% !important
    }

    .fusion-body #heroArea.fusion-fullwidth{
        padding-bottom:0!important; ;
    }

    .fusion-body .allPages.fusion-fullwidth{
        width:100%!important;
    }
    .fusion-body .allPages.fusion-fullwidth .fusion-column-wrapper{
        margin-left:15px!important;
        margin-right:15px!important;
    }

    .fusion-body .allPages .snglPage{
        width:100%!important;
        margin:0!important;
        height:350px;
        margin-bottom:10px!important;
    }
    .allPages .snglPage .fusion-title .title-heading-left{
        text-align: center;
    }
    .allPages .bottomArrow{
        margin-top:0!important;
    }
    
    .fusion-body .ownerBio .fusion-layout-column{
        margin-top:80px!important
    }
    .sameHeight{
        margin-bottom:10px!important;
    }
    .copyright{
        margin-top:50px;
    }
    .site-footer{
        padding-bottom:100px;
    }
    .footerMenu{
        flex-wrap: wrap;
        text-align: center;
    }

    .fusion-body .snglLocation .locationImg.fusion-layout-column,
    .fusion-body .snglLocation .locDetails.fusion-layout-column{
        width:100%!important;
    }
    .fusion-body .snglLocation .locDetails.fusion-layout-column{
        margin-top:45px!important;;
    }

    .fusion-body .snglLocation .locationImg.fusion-layout-column .fusion-column-wrapper{
        min-height:350px!important
    }
    .siteHeader .navBar{
        display:block;
    }
    .footerMenu .snglLocation .conDetails p{
        line-height:22px;
    }
    .fusion-body .allPages{
        margin-bottom:0;
    }
  

}



@media screen and (min-width:769px) and (max-width:950px){
   
    
}

@media screen and (max-width:767px) and (min-width:639px){
    
}




@media screen and (max-width:767px){
    .gap.snglLocation .fusion-row{
        padding-left:15px;
        padding-right:15px;
    }
    .snglLocation .locDetails .fusion-text{
        padding-left:35px;
        padding-right:35px;
    }  
    
    .fusion-body .giftCardPage .locMenu{
        margin-left:-35px!important;
    }
    .fusion-body .giftCardPage .locSelection{
        margin-top:350px!important;
    }
}

@media screen and (max-width:735px){
   /* #gift-card-banner.heroBanner .bannerImg{
        display:none;
    }
     .giftCard-steps{
        padding-top:50px!important;
    } */
    .fusion-body .giftFeatures .snglFeature{
        width:100%!important;
    }
    .fusion-body .giftFeatures .snglFeature .fusion-column-wrapper{
        margin-left:0!important;
        margin-right:0!important;
    }
    .fusion-body .giftFeatures .snglFeature .fusion-text{
        text-align: center;
    }
    .giftFeatures .fusion-imageframe{
        width:100%;
        text-align: center;
    }
    /* #gift-card-banner.heroBanner{
        min-height:350px!important;
    } */
    #gift-card-banner.heroBanner .bannerContent .fusion-text h3{
        padding-top:0!important
    }

    .fusion-body .fusion-fullwidth.giftCardPage.membership{
        width:100%!important;
        padding-left:35px!important;
        padding-right:35px!important;
    }
}

@media screen and (max-width:666px){
    .openPositon h2, .careenBanner .fusion-title .title-heading-left{
        font-size:35px!important;
    }
    .careerFeatures {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .aboutCareer{
        padding-bottom:0!important;
        padding-top:30px!important;
    }
    .aboutCareer .entryContent h3{
        font-size:25px
    }
    .fusion-body .careerFeatures.shortContainer .fusion-builder-row.fusion-row{
        padding-left:0;
        padding-right:0;
    }
    .careerFeatures .fusion-text p br{
        display:none;
    }
    .homeServiceSlider .snglServiceSlide {
        width: calc(100% - 20px) !important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .mobTopbar{
        display:block;
        
    }
    .site-footer .footer-nav ul li{
        margin:0 10px;
    }
    .site-footer .footer-nav ul li:first-child{
        margin-left:0;
    }
    .site-footer .footer-nav ul li:last-child{
        margin-right:0;
    }
}



@media screen and (max-width:639px){
	
	.allServices .allPages .snglPage .fusion-text.serDetails{
        display:none;
    }
    .allServices .allPages .snglPage .fusion-text.servTitle{
        top:auto;
        left:45px;
        bottom:45px;
        transform:unset;
        width:auto;
    }
    .allServices .allPages .snglPage .fusion-text.servTitle h1{
        margin:0!important ;
        text-align: left;
    }
    .allServices .allPages .snglPage .fusion-text.servTitle h1{
        font-size:45px!important;
        line-height:20px!important;
    }
    .allServices .allPages .snglPage .fusion-text.servTitle h1 strong{
        font-size:20px;
    }
    .snglLocation .locDetails .fusion-text h1 br{
        display:block;
    }
    .fusion-body .snglLocation .locationImg.fusion-layout-column .fusion-column-wrapper{
        min-height:280px!important;;
    }
    .snglLocation .locDetails .fusion-text{
        padding-left:15px;
        padding-right:15px;
    }
    .snglLocation .locDetails .fusion-text h1 {
        margin-bottom: 20px;
        font-size: 45px !important;
        line-height: 35px !important;
    }
    .snglLocation .locDetails .fusion-text h4{
        font-size:20px!important;
    }
    .snglLocation.gap{
        margin-bottom:40px!important;
    }

    .fusion-body .fusion-fullwidth.giftCardPage{
        width:100% !important;
    }

    .giftCardPage .locName .fusion-text h1{
        font-size:45px!important;
        line-height:40px!important;
    }
    .giftCardPage .locName .fusion-text h4{
        font-size:20px!important;
    }
    .fusion-body .giftCardPage .locSelection{
        margin-top:300px!important;
    }

    .giftCardPage.membership .locName .fusion-text h1{
        font-size:45px!important;
        line-height:45px!important;
    }
    .giftCardPage.membership .locName .fusion-text h4{
        font-size:20px!important;
    }
    .fusion-body .giftCardPage.membership .sngFeature h5{
        font-size:18px!important;
    }
    .fusion-body .fusion-fullwidth.giftCardPage{
        margin-bottom:0!important;;
    }
    #content{
        margin-bottom:0!important;
    }
    .site-footer{
        padding-bottom:30px;
    }
    .footerMenu .snglLocation h4{
        margin:0!important;
        padding:28px 0;
        cursor: pointer;
        position: relative;
    }
    .footerMenu .snglLocation h4::after{
        content:'';
        width:20px;
        height:10px;
        background:url('../Images/selectArrow.jpg') no-repeat;
        background-size: cover;
        position: absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
    }
    .footerMenu .snglLocation{
        float:left;
        width:100%;
        border-bottom:1px solid #d0cdcb;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .footerMenu .snglLocation .conDetails{
        height:0;
        overflow: hidden;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .footerMenu .snglLocation.open-location .conDetails{
        height:auto;
    }
    .footerMenu{
        text-align: left;
        max-width:calc(100% - 40px);
        margin:auto;
    }

    .footerMenu .snglLocation h4{
        text-align: left;;
    }
}



@media screen and (max-width:479px){
    .btn, .btn.button-flat {
        padding: 8px 25px !important;
        font-size: 11px;
        letter-spacing: 1px;
      }
	.mainLogoArea .fusion-text h1{
        font-size:40px!important;
    }
    .mainLogoArea .fusion-text h1 strong{
        font-size:18px;
    }
    .mainLogoArea .fusion-text h1{
        line-height:15px;
    }
    .fusion-body .allPages .snglPage{
        height:230px;
    }
    .allPages .snglPage .fusion-title{
        margin-top:0!important
    }
    .allPages .snglPage .fusion-title .title-heading-left{
        font-size:45px!important;
        line-height:30px!important;
    }
    .sameHeight{
        height:auto;
    }
    .fusion-body .ownerBio .fusion-layout-column{
        margin-right:0!important;
        width:100%!important;
    }
    .fusion-body .ownerBio .fusion-layout-column .fusion-text{
        padding:0 15px;
        text-align: center;
        margin-bottom:25px;
    }
    #ownerBioMobile .fusion-column-wrapper{
        margin:0;
    }
    .fusion-body .ownerBio .fusion-text h3 span,
    .fusion-body .ownerBio .fusion-text h6 span,
    .fusion-body .ownerBio .fusion-text p span{
        color:#636363!important
    }

    .fusion-body .ownerBio .fusion-text h3{
        font-size:30px!important;
    }

    .commonSection.sameHeight{
        height:calc(100vh - 30px);
    }

    .commonSection .fusion-text.upper{
        position: absolute;
        top:50px;
        left:50%;
        transform:translateX(-50%);
    }

    .commonSection .fusion-column-wrapper,
    .commonSection .fusion-layout-column {
        position: static;
    }
    .fusion-body .allPages{
        margin-bottom:10px!important;
    }

    .commonSection .fusion-text h6{
        font-family:var(--sweetSans);
        text-transform: uppercase;
        font-weight:normal;
    }
    .commonSection .fusion-text.lower{
        max-width:calc(100% - 40px);
        margin-bottom:80px;
    }
    .commonSection .fusion-text h2{
        font-size:35px!important;
        line-height:35px!important;
    }

    .allServices .allPages .snglPage .fusion-text.servTitle{
        bottom:15px;
        left:25px;
    }
    
    .fusion-body .giftCardPage .locSelection{
        margin-top:220px!important;
        margin-bottom:20px!important
    }

    .fusion-body .giftCardPage .locSelection .fusion-column-wrapper,
    .fusion-body .giftCardPage .locMenu{
        margin:0!important;
    }

    .fusion-body .giftCardPage .locMenu{
        padding:20px;
        margin-bottom:30px!important;
        margin-left: -35px !important;
        margin-right: -35px!important;
    }
    .fusion-body .giftCardPage .locMenu label.label{
        font-size:16px;
    }
    .fusion-body .giftCardPage .locMenu select{
        height:50px;
        radius:10px;
        padding:5px 15px;
        font-size:18px;
        background-size:20px 10px;
        background-position: calc(100% - 15px) center;
    }
    .giftCardPage .locName .fusion-text{
        margin-top:20px;
        
    }
    .giftCardPage .locName .fusion-text h1{
        font-size:40px!important;
        line-height:35px!important;
    }
    .giftCardPage .locName .fusion-text h4{
        font-size:18px;
    }
    .fusion-body .giftCardPage .locSelection h2{
        font-size:35px!important;
        line-height:35px!important;
    }
    .fusion-body .giftCardPage .locSelection .fusion-text {
        padding-top: 40px;
        padding-bottom: 50px;
      }
    .fusion-body .giftCardPage .locSelection .fusion-text{
        width:calc(100% - 70px);
        margin:auto;
    }
    .giftCardPage.membership .locName .fusion-text{
        margin-top:450px
    }
    .giftCardPage.membership .locName .fusion-text h1 {
        font-size: 35px !important;
        line-height: 35px !important;
      }
      .fusion-body .giftCardPage.membership .sngFeature h5{
        font-size:16px!important;
        letter-spacing: 1px;
        margin-bottom:5px;
      }
      .fusion-body .giftCardPage.membership .sngFeature p{
        letter-spacing: 1px;;
      }
    
    
}