@media screen and (max-width:1919px){
    .fusion-body .ownerBio .fusion-layout-column {
        margin-right: 20px !important;
        margin-top: 50px !important;
        width: 700px !important;
    }

    .allServices .mainLogoArea{
        margin-top:240px!important;
    }
}




@media screen and (max-width:1599px){


    .section{
        padding-top:40px!important;
        padding-bottom:40px!important;
    }
    .fusion-body .fusion-layout-column.mainLogoArea{
        width:300px!important
    }
    .fusion-body .fusion-layout-column.allPages{
        width:calc(100% - 300px) !important
    }
    .mainLogoArea .fusion-text h1{
        font-size:50px!important;
        line-height:20px!important;
        margin-bottom:20px;
    }
    .mainLogoArea .fusion-text h1 strong{
        font-size:20px;
    }
    .entryContent.sweetSans p{
        font-size:10px;
    }
    .mainLogoArea .fusion-text .btnArea{
        margin-top:20px;
    }
    .btn, .btn.button-flat{
        padding:12px 30px!important;
        font-size:12px;
    }
    .allPages .snglPage .fusion-title .title-heading-left{
        font-size:55px!important;
        line-height:35px!important;;
    }

    .siteHeader .navBar ul li.menu-item{
        margin:0 10px;
    }
    .siteHeader .navBar ul li.menu-item a.menuLink{
        letter-spacing: 1px;;
    }
    .rightSide.contactDetails{
        margin-right:0;
    }
    .fusion-body .fusion-layout-column.mainLogoArea{
        width:100%!important;
        margin-top:30px!important;
        margin-bottom:50px!important;
    }
    .fusion-body .fusion-layout-column.allPages{
        width:100%!important;
    }

}


@media screen and (max-width:1439px){
    
	.fusion-body .ownerBio .fusion-layout-column{
        width:600px!important;;
    }
    .fusion-body .ownerBio .fusion-text h3{
        line-height:30px!important;
    }

    .fusion-body .ownerBio .fusion-text h6{
        font-size:20px
    }
    .fusion-body .ownerBio .fusion-text p{
        font-size:11px;
    }

    .allPages .fusion-column-wrapper .fusion-builder-row{
        margin-left: calc(-4% / 2 ) !important;
    }
    .fusion-body .allPages .snglPage.topMargin-left,
    .fusion-body .allPages .snglPage.topMargin-right,
    .fusion-body .allPages .snglPage.bottomMargin-left,
    .fusion-body .allPages .snglPage.topMargin-right,
    .fusion-body .allPages .snglPage.centMarTopBot-left,
    .fusion-body .allPages .snglPage.centMarTopBot-right,
    .fusion-body .allPages .snglPage.bottomMargin-right{
        margin:0!important;
        margin-bottom:10px!important
    }

    .fusion-body .fusion-layout-column.allPages .fusion-column-wrapper{
        margin-left:0!important;
        margin-right:0!important;
    }
}

@media screen and (max-width:1365px){

    
}


@media screen and (max-width:1279px){
    
    .allPages .fusion-column-wrapper .fusion-builder-row{
        margin-left: calc(-4% / 2 ) !important;
        margin-right: calc(-4% / 1) !important;
    }


    .fusion-body .ownerBio .fusion-text h3{
        font-size:25px;
        line-height:28px!important;
        letter-spacing: -1px!important;;
    }
    .fusion-body .ownerBio .fusion-layout-column{
        width:420px!important;
        margin-top:30px!important;
        width:420px!important;
    }
    .commonSection .fusion-text{
        max-width: 80%;
        margin-left:auto;
        margin-right:auto;
    }
    .site-footer{
        max-width:950px;
    }
    .footerMenu .snglLocation{
        padding:0 15px
    }
}




@media screen and (max-width:1023px){

    .siteHeader{
        height:60px;
        position: fixed;
        background:#fff;
        padding-left:25px;
        padding-right:25px;
    }

    .rightSide.contactDetails{
        width:100%;
    }
    .siteHeader .navBar{
        margin:0;
    }
    .rightSide.contactDetails .phoneNumber{
        float:none;
        margin:auto;
    }
    .siteHeader .mobile_toggle{
        width:25px;
    }
    .siteHeader .mobile_toggle .bar{
        margin:3px 0;
        height:1px;
    }

    .siteHeader .navBar ul{  
        display:none;      
        position: fixed;
        width: 100%;
        background: #f7f7f7;
        top: 60px;
        left:0;
    }
    .siteHeader .navBar ul li.menu-item{
        width:100%;
        margin:0;
    }
    .siteHeader .navBar ul li.menu-item a.menuLink{
        padding:10px 25px;
    }
    .siteHeader .mobile_toggle{
        left:25px;
    }

    .fusion-body .fusion-fullwidth{
        width:100% !important
    }

    .fusion-body #heroArea.fusion-fullwidth{
        padding-bottom:0!important; ;
    }

    .fusion-body .allPages.fusion-fullwidth{
        width:100%!important;
    }
    .fusion-body .allPages.fusion-fullwidth .fusion-column-wrapper{
        margin-left:15px!important;
        margin-right:15px!important;
    }

    .fusion-body .allPages .snglPage{
        width:100%!important;
        margin:0!important;
        height:350px;
        margin-bottom:10px!important;
    }
    .allPages .snglPage .fusion-title .title-heading-left{
        text-align: center;
    }
    .allPages .bottomArrow{
        margin-top:0!important;
    }
    
    .fusion-body .ownerBio .fusion-layout-column{
        margin-top:80px!important
    }
    .sameHeight{
        margin-bottom:10px!important;
    }
    .copyright{
        margin-top:50px;
    }
    .site-footer{
        padding-bottom:100px;
    }
    .footerMenu{
        flex-wrap: wrap;
        text-align: center;
    }
    
  

}



@media screen and (min-width:769px) and (max-width:950px){
   
    
}

@media screen and (max-width:767px) and (min-width:639px){
    
}




@media screen and (max-width:767px){
    
    
}

@media screen and (max-width:735px){
   /* #gift-card-banner.heroBanner .bannerImg{
        display:none;
    }
     .giftCard-steps{
        padding-top:50px!important;
    } */
    .fusion-body .giftFeatures .snglFeature{
        width:100%!important;
    }
    .fusion-body .giftFeatures .snglFeature .fusion-column-wrapper{
        margin-left:0!important;
        margin-right:0!important;
    }
    .fusion-body .giftFeatures .snglFeature .fusion-text{
        text-align: center;
    }
    .giftFeatures .fusion-imageframe{
        width:100%;
        text-align: center;
    }
    /* #gift-card-banner.heroBanner{
        min-height:350px!important;
    } */
    #gift-card-banner.heroBanner .bannerContent .fusion-text h3{
        padding-top:0!important
    }
}

@media screen and (max-width:666px){
    .openPositon h2, .careenBanner .fusion-title .title-heading-left{
        font-size:35px!important;
    }
    .careerFeatures {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .aboutCareer{
        padding-bottom:0!important;
        padding-top:30px!important;
    }
    .aboutCareer .entryContent h3{
        font-size:25px
    }
    .fusion-body .careerFeatures.shortContainer .fusion-builder-row.fusion-row{
        padding-left:0;
        padding-right:0;
    }
    .careerFeatures .fusion-text p br{
        display:none;
    }
    .homeServiceSlider .snglServiceSlide {
        width: calc(100% - 20px) !important;
        margin-left: 10px;
        margin-right: 10px;
    }
    .mobTopbar{
        display:block;
        
    }
}



@media screen and (max-width:639px){
	
	.allServices .allPages .snglPage .fusion-text.serDetails{
        display:none;
    }
    .allServices .allPages .snglPage .fusion-text.servTitle{
        top:auto;
        left:45px;
        bottom:45px;
        transform:unset;
        width:auto;
    }
    .allServices .allPages .snglPage .fusion-text.servTitle h1{
        margin:0!important ;
        text-align: left;
    }
    .allServices .allPages .snglPage .fusion-text.servTitle h1{
        font-size:45px!important;
        line-height:20px!important;
    }
    .allServices .allPages .snglPage .fusion-text.servTitle h1 strong{
        font-size:20px;
    }
}



@media screen and (max-width:479px){
    .btn, .btn.button-flat {
        padding: 8px 25px !important;
        font-size: 11px;
        letter-spacing: 1px;
      }
	.mainLogoArea .fusion-text h1{
        font-size:40px!important;
    }
    .mainLogoArea .fusion-text h1 strong{
        font-size:18px;
    }
    .mainLogoArea .fusion-text h1{
        line-height:15px;
    }
    .fusion-body .allPages .snglPage{
        height:230px;
    }
    .allPages .snglPage .fusion-title{
        margin-top:0!important
    }
    .allPages .snglPage .fusion-title .title-heading-left{
        font-size:45px!important;
        line-height:30px!important;
    }
    .sameHeight{
        height:auto;
    }
    .fusion-body .ownerBio .fusion-layout-column{
        margin-right:0!important;
        width:100%!important;
    }
    .fusion-body .ownerBio .fusion-layout-column .fusion-text{
        padding:0 15px;
        text-align: center;
        margin-bottom:25px;
    }
    #ownerBioMobile .fusion-column-wrapper{
        margin:0;
    }
    .fusion-body .ownerBio .fusion-text h3 span,
    .fusion-body .ownerBio .fusion-text h6 span,
    .fusion-body .ownerBio .fusion-text p span{
        color:#636363!important
    }

    .fusion-body .ownerBio .fusion-text h3{
        font-size:30px!important;
    }

    .commonSection.sameHeight{
        height:calc(100vh - 30px);
    }

    .commonSection .fusion-text.upper{
        position: absolute;
        top:50px;
        left:50%;
        transform:translateX(-50%);
    }

    .commonSection .fusion-column-wrapper,
    .commonSection .fusion-layout-column {
        position: static;
    }
    .fusion-body .allPages{
        margin-bottom:10px!important;
    }

    .commonSection .fusion-text h6{
        font-family:var(--sweetSans);
        text-transform: uppercase;
        font-weight:normal;
    }
    .commonSection .fusion-text.lower{
        max-width:calc(100% - 40px);
        margin-bottom:80px;
    }
    .commonSection .fusion-text h2{
        font-size:35px!important;
        line-height:35px!important;
    }

    .allServices .allPages .snglPage .fusion-text.servTitle{
        bottom:15px;
        left:25px;
    }
    
    
    
}